/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}
html,body{
  width: 100%;
  height: 100%;
  background-color: #222;
}
.content{
  width: 100%;
  height: 100%;
}
/* stage -- start */
.stage {
  position: relative;

  width: 100%;
  //height: 680px;

}
/* stage -- end */

/* image -- start */
.img-sec{
  position: relative;

  width: 100%;
  height: 100%;

  //overflow: hidden;     //溢出元素内容区的内容会如何处理,与.img-figure{position:absolute}冲突
  background-color: #ddd;

  /*生成css代码时将内容提到结构的外层
    否则img-figure在img-sec的内部，
    生成css代码时会影响性能和可移植性
  */
  @at-root {
    .img-figure{
      position: absolute;     //绝对定位
      width: 320px;
      height: 360px;
      margin: 0;
      padding: 40px;
      background-color: #fff;

      box-sizing: border-box;
    }
    figcaption{
      text-align: center;

      .img-title{
        margin: 20px 0 0 0;
        color: #a7a0a2;
        font-size: 16px;
      }
    }
  }
}
/* image -- end */
/* controller -- start */
.controller-nav{
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 101;

  width: 100%;

  text-align: center;
}
/* controller -- end */
